#### Potential Talents

**Background:**

As a talent sourcing and management company, we are interested in finding talented individuals for sourcing these candidates to technology companies. Finding talented candidates is not easy, for several reasons. The first reason is one needs to understand what the role is very well to fill in that spot, this requires understanding the client’s needs and what they are looking for in a potential candidate. The second reason is one needs to understand what makes a candidate shine for the role we are in search for. Third, where to find talented individuals is another challenge.

The nature of our job requires a lot of human labor and is full of manual operations. Towards automating this process we want to build a better approach that could save us time and finally help us spot potential candidates that could fit the roles we are in search for. Moreover, going beyond that for a specific role we want to fill in we are interested in developing a machine learning powered pipeline that could spot talented individuals, and rank them based on their fitness.

We are right now semi-automatically sourcing a few candidates, therefore the sourcing part is not a concern at this time but we expect to first determine best matching candidates based on how fit these candidates are for a given role. We generally make these searches based on some keywords such as “full-stack software engineer”, “engineering manager” or “aspiring human resources” based on the role we are trying to fill in. These keywords might change, and you can expect that specific keywords will be provided to you.

Assuming that we were able to list and rank fitting candidates, we then employ a review procedure, as each candidate needs to be reviewed and then determined how good a fit they are through manual inspection. This procedure is done manually and at the end of this manual review, we might choose not the first fitting candidate in the list but maybe the 7th candidate in the list. If that happens, we are interested in being able to re-rank the previous list based on this information. This supervisory signal is going to be supplied by starring the 7th candidate in the list. Starring one candidate actually sets this candidate as an ideal candidate for the given role. Then, we expect the list to be re-ranked each time a candidate is starred.

Data Description:

The data comes from our sourcing efforts. We removed any field that could directly reveal personal details and gave a unique identifier for each candidate.

Attributes:
id : unique identifier for candidate (numeric)

job_title : job title for candidate (text)

location : geographical location for candidate (text)

connections: number of connections candidate has, 500+ means over 500 (text)

Output (desired target):
fit - how fit the candidate is for the role? (numeric, probability between 0-1)

Keywords: “Aspiring human resources” or “seeking human resources”

Download Data:

https://docs.google.com/spreadsheets/d/117X6i53dKiO7w6kuA1g1TpdTlv1173h_dPlJt5cNNMU/edit?usp=sharing

Goal(s):

Predict how fit the candidate is based on their available information (variable fit)

Success Metric(s):

Rank candidates based on a fitness score.

Re-rank candidates when a candidate is starred.

Bonus(es):

We are interested in a robust algorithm, tell us how your solution works and show us how your ranking gets better with each starring action.

How can we filter out candidates which in the first place should not be in this list?

Can we determine a cut-off point that would work for other roles without losing high potential candidates?

Do you have any ideas that we should explore so that we can even automate this procedure to prevent human bias?
Submission Instructions:
Project should be implemented with Python
Please name your repository on GitHub with this name without exposing your project information: ORO58p6prUeI5Jiv

In [1]:
pip install --upgrade ipykernel

Requirement already satisfied: ipykernel in c:\users\tooman\anaconda3\lib\site-packages (6.29.5)
Requirement already satisfied: comm>=0.1.1 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (8.15.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (5.5.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (1.6.0)
Requirement already satisfied: packaging in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (23.2)
Requirement already satisfied: psutil in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (5.9.0)
Requirement already satisfied: pyzmq>=24 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (25.1.2)
Requirement already satisfied: tornado>=6.1 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\tooman\anaconda3\lib\site-packages (from ipykernel) (5.14.3)
Requirement already satisfied: backcall in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: decorator in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.15.1)
Requirement already satisfied: stack-data in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: typing-extensions in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (4.11.0)
Requirement already satisfied: exceptiongroup in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (1.2.0)
Requirement already satisfied: colorama in c:\users\tooman\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: importlib-metadata>=4.8.3 in c:\users\tooman\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (7.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tooman\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\tooman\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\tooman\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (305.1)
Requirement already satisfied: zipp>=0.5 in c:\users\tooman\anaconda3\lib\site-packages (from importlib-metadata>=4.8.3->jupyter-client>=6.1.12->ipykernel) (3.17.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\tooman\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\tooman\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\tooman\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: executing in c:\users\tooman\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: asttokens in c:\users\tooman\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\tooman\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import libraries and models
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import precision_score, classification_report, accuracy_score, roc_auc_score
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
import warnings
pd.set_option('display.expand_frame_repr', False)

# Import necessary libraries
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

warnings.filterwarnings("ignore")

# Load the dataset
df = pd.read_csv('C:/Users/Tooman/Desktop/potential_talents.csv')

In [3]:
df.head()

   id                                          job_title                             location connection  fit
0   1  2019 C.T. Bauer College of Business Graduate (...                       Houston, Texas         85  NaN
1   2  Native English Teacher at EPIK (English Progra...                               Kanada      500+   NaN
2   3              Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  NaN
3   4             People Development Coordinator at Ryan                        Denton, Texas      500+   NaN
4   5    Advisory Board Member at Celal Bayar University                       İzmir, Türkiye      500+   NaN

In [4]:
len(df)

104

### Data Processing

In [5]:
#handle missing values
df.isnull().sum()

id              0
job_title       0
location        0
connection      0
fit           104
dtype: int64

In [6]:
df.columns

Index(['id', 'job_title', 'location', 'connection', 'fit'], dtype='object')

### Text Processing

In [13]:
import nltk
#nltk.download()
import re
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.tokenize import word_tokenize
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', 800)

In [15]:
lemmatizer = WordNetLemmatizer()
def remove_acronyms(text):
    return re.sub(r'\b[A-Z\.]{2,}\b', ' ', text)
def lemmatize_sentence(sentence):
    words = sentence.split()
    lemmatized_words = [lemmatizer.lemmatize(word) for word in words]
    return ' '.join(lemmatized_words)

In [16]:
df['job_title'] = df['job_title'].apply(remove_acronyms)
df['job_title'] = df['job_title'].apply(lemmatize_sentence)
vectorizer = TfidfVectorizer(stop_words='english', ngram_range = (1, 2))
docs_tfidf = vectorizer.fit_transform(df["job_title"])
query1 = "Aspiring human resources"
query2 = "seeking human resources"
query1_tfidf = vectorizer.transform([query1])
query2_tfidf = vectorizer.transform([query2])

In [17]:
pd.set_option('max_colwidth', 800)

In [18]:
cosine_similarities1 = cosine_similarity(query1_tfidf, docs_tfidf).flatten()
cosine_similarities2 = cosine_similarity(query2_tfidf, docs_tfidf).flatten()
combined_similarities = (cosine_similarities1 + cosine_similarities2) / 2
df['fit'] = combined_similarities
df_sorted = df.sort_values('fit', ascending=False)
df_sorted[['job_title', 'fit']].head(10)

                                job_title       fit
45  Aspiring Human Resources Professional  0.488691
57  Aspiring Human Resources Professional  0.488691
16  Aspiring Human Resources Professional  0.488691
96  Aspiring Human Resources Professional  0.488691
32  Aspiring Human Resources Professional  0.488691
2   Aspiring Human Resources Professional  0.488691
20  Aspiring Human Resources Professional  0.488691
29  Seeking Human Resources Opportunities  0.436271
27  Seeking Human Resources Opportunities  0.436271
98       Seeking Human Resources Position  0.427734

In [30]:
# Rank candidates based on fit scores
df["rank"] = df["fit"].rank(ascending=False)

In [31]:
df.head()

   id                                                                                              job_title                             location connection       fit  rank
0   1  2019 . Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional                       Houston, Texas         85  0.175981  45.0
1   2                                                   Native English Teacher at (English Program in Korea)                               Kanada      500+   0.000000  83.5
2   3                                                                  Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  0.488691   4.0
3   4                                                                 People Development Coordinator at Ryan                        Denton, Texas      500+   0.000000  83.5
4   5                                                        Advisory Board Member at Celal Bayar University                       İzmir, Türkiye      500+   0.000000  83.5

In [33]:
df_sorted = df.sort_values('rank', ascending=True)
df_sorted.head(10)

    id                              job_title                             location connection       fit  rank
20  21  Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  0.488691   4.0
16  17  Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  0.488691   4.0
2    3  Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  0.488691   4.0
32  33  Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  0.488691   4.0
45  46  Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  0.488691   4.0
57  58  Aspiring Human Resources Professional  Raleigh-Durham, North Carolina Area         44  0.488691   4.0
96  97  Aspiring Human Resources Professional                 Kokomo, Indiana Area         71  0.488691   4.0
27  28  Seeking Human Resources Opportunities                    Chicago, Illinois        390  0.436271   8.5
29  30  Seeking Human Resources Opportunities                    Chicago, Illinois        390  0.436271   8.5
98  99       Seeking Human Resources Position               Las Vegas, Nevada Area         48  0.427734  10.0

In [35]:
# Example: Re-rank candidates after starring the 7th candidate
starred_candidiate_id = 7
df_sorted.loc[starred_candidiate_id, "rank"] = 1
df_sorted.sort_values(by="rank", inplace=True)

In [37]:
# Updated ranking
print(df_sorted[["id", "job_title", "fit", "rank"]])

      id                                                                         job_title       fit  rank
7      8                                                                 Senior Specialist  0.000000   1.0
96    97                                             Aspiring Human Resources Professional  0.488691   4.0
57    58                                             Aspiring Human Resources Professional  0.488691   4.0
45    46                                             Aspiring Human Resources Professional  0.488691   4.0
20    21                                             Aspiring Human Resources Professional  0.488691   4.0
..   ...                                                                               ...       ...   ...
11    12  , , Marketing & Communications, Officer | | Houston | The Woodlands | Energy | |  0.000000  83.5
44    45                              Native English Teacher at (English Program in Korea)  0.000000  83.5
17    18                                            People Development Coordinator at Ryan  0.000000  83.5
94    95                                             Student at Westfield State University  0.000000  83.5
103  104                                  Director Of Administration at Excellence Logging  0.000000  83.5

[104 rows x 4 columns]